body{
  padding-top: 30px;
  background: url(https://static.pexels.com/photos/4700/nature-forest-moss-leaves.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  background-size: cover;
}


#title{
  font-weight:600;
  font-size: 300%;
  color:white;
  padding-bottom:20px;
}

#weatherIcon{
  padding-top:3px;
  padding-right:3px;
}


#temp{
 font-weight: 800;
 font-size: 250%;
 text-shadow: 2px 2px black;
 padding-bottom:5px;
 padding-left:5px;
}

#tempUnit{
 font-weight: 800;
 font-size: 210%;
 text-shadow: 2px 2px black;
 padding-bottom:5px; 
 padding-left:3px;
}

#city{
  background-color: white;
  color: rgba(255,0,0,0.6);
  font-style: italic;
  margin:1px;
  padding:10px;
  border-radius: 15px;
  border:2px solid white;
  opacity:0.8;
}

#type{
  background-color: white;
  color: rgba(255,0,0,0.6);
  font-style: italic;
  margin:1px;
  padding:10px;
  border-radius: 15px;
  border:2px solid white;
  opacity:0.8;
}

#wind{
  background-color: white;
  color: rgba(255,0,0,0.6);
  font-style: italic;
  margin:1px;
  padding:10px;
  border-radius: 15px;
  border:2px solid white;
  opacity:0.8;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#sliderId{
  padding-left:15px;
  padding-top:12px
}

/* The alert message box */
.alert {
    padding: 10px;
    background-color: lightblue;
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

#TM{
  color: white;
  position: fixed;
  text-align: center;
  bottom: 10px;